.form-field {
clear: both;
padding: 10px;
width: 350px;
}
.form-field label {
float: left;
width: 150px;
text-align: right;
}
.form-field input {
float: right;
width: 150px;
text-align: left;
}
#submit {
text-align: center;
}
#menu ul li {
        list-style-type: none;
        display: inline;
}
#menu li a:hover {
        background-color: #CCCCCC;
}
#menu li a {
        display: block;
        text-decoration: none;
        border-right: 2px solid #FFFFFF;
        padding: 3px 10px;
        float: left;
        color: #FFFFFF;
}
#menu {
        float: left;
        width: 100%;
		background-color: #009578;
}